@model DoAnLTW.Models.Brand

@{
    ViewData["Title"] = "Xóa thương hiệu";
    Layout = "~/Areas/Admin/Views/Shared/layoutAdmin.cshtml";
}

<h1>Xóa thương hiệu</h1>

<h3>Bạn có chắc chắn muốn xóa thương hiệu này?</h3>
<div>
    <h4>Thông tin thương hiệu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" alt="@Model.Name" style="width:100px; height:auto;" />
            }
            else
            {
                <span>Không có hình ảnh</span> 
            }
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" name="id" value="@Model.BrandId" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>

</div>